.table{
    margin-top: 20px;
    overflow-y: scroll;
    height: 400px;
    color: #6a5d5d
}

/* every odd number row will be grey color */

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}